# Ignore build & configuration files
/build/
/doc/
/config/
/Dependencies.mk
/Build.log

# Python compiled files

*.pyc

# Ignore NetBeans stuff
nbproject/
cscope.out

# Object files
*.o

# Linux ~ files
*~

# build artifacts
*.s
*.swp
config.h
.pida-metadata
TAGS
output.map
